<!DOCTYPE html>
<html>
<head><% include partials/template/head.ejs %></head>
<body>
  <% include partials/template/header.ejs%>
  
  <section class="layout">
    <div class="primary">
      <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est quas id eius vel ad illum, facere nostrum dolores molestiae vero beatae obcaecati provident dolore deleniti ipsam error iusto doloremque voluptatem!</div>
    </div><!-- primary -->
    <aside class="secondary">
      <div>Nostrum atque placeat sint cupiditate, voluptatibus maxime unde ex ab eum assumenda. Aut impedit dolore, asperiores laudantium totam itaque non placeat magnam qui eos voluptates blanditiis odio, nostrum provident accusamus.</div>
    </aside><!-- secondary -->
  </section><!-- layout -->

  <% include partials/template/footer.ejs %>  
  <% include partials/template/jsdefaults.ejs %>
</body>
</html>
