<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<!-- tells device that this webpage was designed to work properly with mobile devices -->
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"> 