<article class="socialmediaicons">
  <span class="title">Join the movement: </span>
  <ul class="group">
    <% appdata.social.forEach(({url, img, shortname}) => { %>
      <li>
        <a href="<%= url %>">
          <img class="icon" src="<%= img %>" alt="icon for <%= shortname %>">
        </a>
      </li>
    <% }); %>
  </ul>
</article>